body {
  background: white;
}

body div.placement {
  margin-top: 30vh;
}

body input, body button {
  background: whitesmoke;
  border-radius: 3px;
  border: none;
  -webkit-box-shadow: 2px 5px 9px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 2px 5px 9px 0 rgba(0, 0, 0, 0.3);
}

body button.clickhere {
  margin-left: 15px;
  padding: 1px 5px;
}

body div.output {
  margin-top: 48px;
}

body span.placeOut {
  margin-bottom: 12px;
}
/*# sourceMappingURL=index.css.map */