body {
    background: white;
    div.placement {
        margin-top: 30vh;
    }
    input, button {
        background: whitesmoke;
        border-radius: 3px;
        border: none;
        -webkit-box-shadow: 2px 5px 9px 0 rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 2px 5px 9px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 2px 5px 9px 0 rgba(0, 0, 0, 0.3);
    }
    button.clickhere {
        margin-left: 15px;
        padding: 1px 5px;
    }

    div.output{
        margin-top: 48px;
    }
    span.placeOut{
        margin-bottom: 12px;
    }
}
